
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width:100%;
    display:grid;
    justify-content: center;
    align-items: center;
    background-color: wheat;
}


.container{
    padding-top:25px;
    height: 590px;
    width: 460px;
    background-color: white;
    border-radius: 10px;
}
.reviews-header h2{
    margin-left:30px;
    padding-left:30%;
    padding-bottom: 30x;
    color: rgb(12, 236, 162);
    font-size: 1.3rem;
}
.main-content{
   padding-left:20px;
    margin-top:15%;
}

.image-section{
margin-left:15%;
}

.image-section img{
    margin-left: 20px;
    border-radius: 50%;
    box-shadow: 2px 10px 1px rgba(12, 2536, 162, 0.9);
}

.about{
margin-left:35%;
}
#author{
display:block;
margin-top: 20px;
font-size: 1.2rem;
font-family: Arial;
margin-bottom: 15px;


}

#job{
    display:block ;
    font-size: 1.2rem;
    color:#0ceca2;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: -12%; 
    margin-bottom: 14px;   
}

#description{
 font-family: Arial;
 text-indent:2rem;
 font-weight: 560;
 margin-bottom: 15px;
 line-height: 20px;


}
.backbtn{
 margin-left:40%;
 padding-right: 12px;
 color:#0ceca2;
 font-size:1.3rem;
 background-color: transparent;
 border: none;
}
.forwardbtn{
 padding-left: 12px;
 color: #0ceca2;
 font-size:1.3rem;
 background-color: transparent;
 border: none;
 

}

.random{
display: block;
margin-left:35%;
padding: 10px 24px;
border: none;
color: #0ceca2;
font-size:1.1rem;
margin-top: 12px;
margin-bottom: 14px;
background-color: rgb(4, 0, 0);
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

}